@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>***INSERT BESTBUY LOGO HERE AND CHANGE BACKGROUND COLOR</h1>
    <h1 class="display-4">Welcome to the Bestbuy Hiring Manager App</h1>
    <p>As hiring manager this is your all in one portal for adding new employees, disregarding former emploeyees, and editing information for your current employees..</p>
</div>
